@charset "utf-8";

body {
    margin: 0;
    font-family: 'GlacialIndifferenceRegular';
}

h1, h2, h3 {
    font-family: 'Lemon/Milk'
}

.menu-button {
    font-size: 16px;
    border: none;
    background-color: #2a2828;
    color: white;
    padding: 16px;
    cursor: pointer;
    font-weight: bold;
}
/* codificação das característiscas do botão  */

.menu-dropdown {
    display: inline-block;
    position: relative;
}

.menu-conteudo {
    background-color: #282a35;
    min-width: 160px;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    z-index: 1;
    position: absolute;
}
/* codificação das alternativas do botão  */

.menu-conteudo a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 12px 16px;
}

.menu-dropdown:hover .menu-conteudo {
    display: block;
}
/* apresentar as opções */

.menu-dropdown:hover .menu-button {
    background-color: #383535;
}

.menu-conteudo a:hover {
    background-color: #383535;
}
/* animações do hover */

.menu-dropdown img {
    width: 18px;
}

/*navbar*/

#cabecalho {
    background-color: black;
    padding: 15px 8px 66px;
}

.menu-dropdown, .logo {
    float: left;
    display: block;
    padding: 0px 16px;
}
.logo {
    padding: 12px 16px;
}

form input,form button{
    float: right;
    display: inline;
    margin-top: 7px;
}

input[type=text] {
    float: right;
    padding: 7px;
    font-size: 17px;
    border: none;
    margin-right: 0px;
}

.pesquisar button {
    padding: 15px 32px;
    background: #ddd;
    border: none;
}

button {
    margin-right: 16px;
    border: none;
    padding: 5px 5px 5px 8px;
}

.pesquisar button img {
    margin-top: 5px;
}

button:hover {
    background: #ccc;
}

/*feedback*/

section {
    margin-left: 50px;
    margin-right: 50px;
}

* {box-sizing: border-box;}

.container input[type=text], select, textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    margin-left: 6px;
    font-size: 15px;
}


.container input[type=text], select {
    width: 49%;
}

.container input[type=number] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    margin-left: 6px;
    width: 49%;
    font-size: 15px;
}

.usuario {
    padding-bottom: 50px;
}

textarea {
    width: 100%; 
    min-height: 200px;
    min-width: 200px;
    resize: none
}

.container input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    height: 100px;
    width: 100px;
    margin-top: 50px;
    font-size: 18px;
}

.container input[type=submit]:hover {
    background-color: #383535;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#comentario {
    margin-top: 20px;
}

.container-footer {
    display: flex;
    flex-basis: 50%;
    padding: 25px;
    margin: 1;
}

footer div.contato img {
    padding: 2px;
    width: 40px;
    height: 28px;
}
