@charset "utf-8";

body {
    margin: 0;
    font-family: 'GlacialIndifferenceRegular';
}

h1, h2, h3 {
    font-family: 'Lemon/Milk'
}

.menu-button {
    font-size: 16px;
    border: none;
    background-color: #2a2828;
    color: white;
    padding: 16px;
    cursor: pointer;
    font-weight: bold;
}
/* codificação das característiscas do botão  */

.menu-dropdown {
    display: inline-block;
    position: relative;
}

.menu-conteudo {
    background-color: #282a35;
    min-width: 160px;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    z-index: 1;
    position: absolute;
}
/* codificação das alternativas do botão  */

.menu-conteudo a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 12px 16px;
}

.menu-dropdown:hover .menu-conteudo {
    display: block;
}
/* apresentar as opções */

.menu-dropdown:hover .menu-button {
    background-color: #383535;
}

.menu-conteudo a:hover {
    background-color: #383535;
}
/* animações do hover */

.menu-dropdown img {
    width: 18px;
}

/*navbar*/

#cabecalho {
    background-color: black;
    padding: 15px 8px 66px;
}

.menu-dropdown, .logo {
    float: left;
    display: block;
    padding: 0px 16px;
}
.logo {
    padding: 12px 16px;
    margin-left: 6px;
}

form input,form button{
    float: right;
    display: inline;
    margin-top: 7px;
}

input[type=text] {
    float: right;
    padding: 7px;
    font-size: 17px;
    border: none;
    margin-right: 0px;
}

.pesquisar button {
    padding: 15px 32px;
    background: #ddd;
    border: none;
}

button {
    margin-right: 16px;
    border: none;
    padding: 5px 5px 5px 8px;
}

.pesquisar button img {
    margin-top: 5px;
}


button:hover {
    background: #ccc;
}


.container-footer {
    display: flex;
    flex-basis: 50%;
    padding: 25px;
    margin: 1;
}

footer div.contato img {
    padding: 2px;
    width: 40px;
    height: 28px;
}

h1 {
    font-size: 40px;
}

/*aside*/

aside#conteudo-lateral {
    width: 30%;
    float: right;
    padding: 20px;
    color: #ccc;
}

aside#conteudo-lateral h4 {
    margin-left: 10px;
}

aside#conteudo-lateral div {
    background-color: #2a2828;
    padding: 10px;
    border-radius: 10px;
    padding-bottom: 40px;
}

aside#conteudo-lateral img {
    width: 80%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 15px;
}

aside#conteudo-lateral a {
    text-decoration: none;
    color: #ccc;
    font-weight: bold;
    margin-left: 45px;
    margin-top: 20px;
}

aside#conteudo-lateral a:hover {
    text-decoration:underline;
    color:bisque;
}