@charset "utf-8";

body {
    margin: 0;
    font-family: 'GlacialIndifferenceRegular';
}

h1, h2, h3 {
    font-family: 'Lemon/Milk'
}

.menu-button {
    font-size: 16px;
    border: none;
    background-color: #2a2828;
    color: white;
    padding: 16px;
    cursor: pointer;
    font-weight: bold;
}
/* codificação das característiscas do botão  */

.menu-dropdown {
    display: inline-block;
    position: relative;
}

.menu-conteudo {
    background-color: #282a35;
    min-width: 160px;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    z-index: 1;
    position: absolute;
}
/* codificação das alternativas do botão  */

.menu-conteudo a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 12px 16px;
}

.menu-dropdown:hover .menu-conteudo {
    display: block;
}
/* apresentar as opções */

.menu-dropdown:hover .menu-button {
    background-color: #383535;
}

.menu-conteudo a:hover {
    background-color: #383535;
}
/* animações do hover */

.menu-dropdown img {
    width: 18px;
}

/*navbar*/

#cabecalho {
    background-color: black;
    padding: 15px 8px 10px;
}

.menu-dropdown, .logo {
    float: left;
    display: block;
    padding: 0px 16px;
}
.logo {
    padding: 12px 16px;
    margin-left: 6px;
}

form input,form button{
    float: right;
    display: inline;
    margin-top: 7px;
}

input[type=text] {
    float: right;
    padding: 7px;
    font-size: 17px;
    border: none;
    margin-right: 0px;
}

.pesquisar button {
    padding: 15px 32px;
    background: #ddd;
    border: none;
}

button {
    margin-right: 16px;
    border: none;
    padding: 5px 5px 5px 8px;
}

.pesquisar button img {
    margin-top: 5px;
}


button:hover {
    background: #ccc;
}

/* conteudo do site */

section {
    margin-left: 50px;
    margin-right: 50px;
}

* {box-sizing: border-box;}


.container-footer {
    display: flex;
    flex-basis: 50%;
    padding: 25px;
    margin: 1;
}

footer div.contato img {
    padding: 2px;
    width: 40px;
    height: 28px;
}

h1 {
    font-size: 40px;
}

/* informações dos acontecimento */

section#conteudo .r-title{
    margin-top: var(--rTitleMarginTop, 0) !important;
    margin-bottom: var(--rTitleMarginBottom, 0) !important;
    }


    section#conteudo p:not([class]){
    line-height: var(--cssTypographyLineHeight, 1.78);
    margin-top: var(--cssTypographyBasicMargin, 1em);
    margin-bottom: 0;
    }

    section#conteudo .text{
    display: var(--textDisplay, inline-flex);
    font-size: var(--textFontSize, 1rem);  
    }

    section#conteudo .time{
    display: var(--timeDisplay, inline-flex);
    }

    section#conteudo .time__month{
    margin-left: var(--timelineMounthMarginLeft, .25em);
    }

    section#conteudo .time{
    padding: var(--timePadding, .25rem 1.25rem .25rem);
    background-color: var(--timeBackgroundColor, #f0f0f0);

    font-size: var(--timeFontSize, .75rem);
    font-weight: var(--timeFontWeight, 700);
    text-transform: var(--timeTextTransform, uppercase);
    color: var(--timeColor, currentColor);
    }

    section#conteudo .card{
    padding: var(--timelineCardPadding, 1.5rem 1.5rem 1.25rem);
    }

    section#conteudo .card__content{
    margin-top: var(--cardContentMarginTop, .5rem);
    }

    section#conteudo .card{
    border-radius: var(--timelineCardBorderRadius, 2px);
    border-left: var(--timelineCardBorderLeftWidth, 3px) solid var(--timelineCardBorderLeftColor, var(--uiTimelineMainColor));
    box-shadow: var(--timelineCardBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
    background-color: var(--timelineCardBackgroundColor, #fff);
    }

    section#conteudo .card__title{
    --rTitleMarginTop: var(--cardTitleMarginTop, 1rem);
    font-size: var(--cardTitleFontSize, 1.25rem);
    }

    section#conteudo .timeline{
    display: var(--timelineDisplay, grid);
    grid-row-gap: var(--timelineGroupsGap, 2rem);
    }

    section#conteudo .timeline__year{
    margin-bottom: 1.25rem; /* 1 */
    }

    section#conteudo .timeline__cards{
    display: var(--timeloneCardsDisplay, grid);
    grid-row-gap: var(--timeloneCardsGap, 1.5rem);
    }

    section#conteudo .timeline{
    --uiTimelineMainColor: var(--timelineMainColor, #222);
    --uiTimelineSecondaryColor: var(--timelineSecondaryColor, #fff);

    border-left: var(--timelineLineWidth, 3px) solid var(--timelineLineBackgroundColor, var(--uiTimelineMainColor));
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    }

    section#conteudo .timeline__year{
    --timePadding: var(--timelineYearPadding, .5rem 1.5rem);
    --timeColor: var(--uiTimelineSecondaryColor);
    --timeBackgroundColor: var(--uiTimelineMainColor);
    --timeFontWeight: var(--timelineYearFontWeight, 400);
    }

    section#conteudo .timeline__card{
    position: relative;
    margin-left: var(--timelineCardLineGap, 1rem);
    }

    section#conteudo .timeline__cards{
    overflow: hidden;
    padding-top: .25rem; /* 1 */
    padding-bottom: .25rem; /* 1 */
    }

    section#conteudo .timeline__card::before{
    content: "";
    width: 100%;
    height: var(--timelineCardLineWidth, 2px);
    background-color: var(--timelineCardLineBackgroundColor, var(--uiTimelineMainColor));

    position: absolute;
    top: var(--timelineCardLineTop, 1rem);
    left: -50%;
    z-index: -1;
    }
    section#conteudo .timeline{
    --timelineMainColor: #000000;
    }

    body{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    color: #222;

    background-color: #ffffff;
    margin: 0;
    display: flex;
    flex-direction: column;
    }

    section#conteudo p{
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.5;
    }

    section#conteudo p:last-child{
    margin-bottom: 0;
    }

    section#conteudo .page{
    max-width: 47rem;
    padding: 1rem 2rem 4rem;
    margin-left: auto;
    margin-right: auto;
    }


    section#conteudo .substack{
    border:1px solid #EEE; 
    background-color: #fff;
    width: 100%;
    max-width: 480px;
    height: 280px;
    margin: 1rem auto;;
    }


    section#conteudo .linktr{
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    text-align: center;
    }

    section#conteudo .linktr__goal{
    background-color: rgb(209, 246, 255);
    color: rgb(0, 0, 0);
    border-radius: 2rem;
    padding: .75rem 1.5rem;
    }

    section#conteudo .r-link{
        --uirLinkDisplay: var(--rLinkDisplay, inline-flex);
        --uirLinkTextColor: var(--rLinkTextColor);
        --uirLinkTextDecoration: var(--rLinkTextDecoration, none);

        display: var(--uirLinkDisplay) !important;
        color: var(--uirLinkTextColor) !important;
        text-decoration: var(--uirLinkTextDecoration) !important;
    }
