@charset "utf-8";

body {
    margin: 0;
    font-family: 'GlacialIndifferenceRegular';
}

h1, h2, h3 {
    font-family: 'Lemon/Milk'
}


footer {
    background-color: rgba(0, 0, 0, 225);
    color: rgba(237, 243, 246, 225);
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-basis: 50%;
    padding: 25px;
    margin: 1;
}

.logo {
    flex-grow: 1;
    flex-basis: 200%;
    padding-left: 10px;
}

h2 {
    text-align: left;
    left: 200px;
    display: inline-position;
    margin-top: 30px;
}

.contato {
    margin-left: 45px;
}

.telefone {
    flex-grow: 1;
    display: inline-position;
    background-color: rgba(42,40,40,255);
    float: right;
    padding: 1px 3px;
    margin-top: 3px;
}

.lampada {
    flex-grow: 1;
    display: inline-position;
    background-color: rgba(42,40,40,255);
    float: right ;
    padding: 1px 3px;
    margin-top: 19px;
}

.telefone a:hover {
    color: lightblue;
    text-decoration: none;
}

.lampada a:hover {
    color: lightblue;
    text-decoration: none;
}

td {
    padding-top: 17px;
    padding-left: 17px;
    font-size: 23px;
}

footer div.contato img {
    padding: 2px;
    width: 40px;
    height: 28px;
}


.copyright {
    padding: 15px 0;
    text-align: center;
    border-top: 1px solid gray;
}

footer div.contato img {
    padding: 2px;
    width: 40px;
    height: 28px;
}

h1 {
    font-size: 40px;
}


@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}
