@charset "utf-8";

body {
    margin: 0;
    font-family: 'GlacialIndifferenceRegular';
}

h1, h2, h3 {
    font-family: 'Lemon/Milk'
}


p {
    text-align: justify;
    text-justify: inter-word;
    text-indent: 2em;
}

